.ino-typography {
    margin: 0 auto;


    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: uppercase;
        position: relative;
        left: rem-calc(-100);
        margin-bottom: rem-calc(55);
    }

    h2 {
        font-size: rem-calc(51);
        line-height: 105%;
    }

    p {
        font-size: rem-calc(19);
        line-height: 145%;
        margin-bottom: rem-calc(50);
    }

    img {
        margin-bottom: rem-calc(90);
    }

    .lead {
        font-size: rem-calc(28);
        line-height: 130%;
    }
}

.ino-post__block {
    margin: 0 auto;
    margin-bottom: rem-calc(55);
    max-width: rem-calc(620);
   

    &.wide {
        max-width: rem-calc(720);
        position: relative;
        left: rem-calc(-50)
    }
}

.ino-stats{
    @extend .menu;
    li{
     
        display: flex;
        align-items: center;
        padding: rem-calc(10 0);
        position: relative;
        margin-top: -1px;
        &:before, &:after{
            content: '';
            width: 150vw;
            margin-left: -50vw;
            position: absolute;
            top: 0;
            height: 1px;
            background-color: #656B78;;
        }
        &:after{
            top: auto;
            bottom: 0;
        }
        &:first-child{
      
        }
    }

    &__stat{
   
        font-size: rem-calc(68);
        font-family: $header-font-family;
        margin-right: rem-calc(23);
        min-width: rem-calc(200);
        text-align: right;
        sup{
            font-size: rem-calc(28);
            top: rem-calc(-30);
            
        }
    }
    &__description{
        margin-left: rem-calc(23);
        p, .lead{
            margin-bottom: 0;
        }
    }
}