$top-bar-height-mobile: rem-calc(60);
$top-bar-small-offset: 80px;

.top-bar {
    height: $top-bar-height-mobile;
    z-index: 10;
    backface-visibility: hidden;
    background: transparent;
    margin: 0 auto;
    padding: 0 rem-calc(15);
    
    position: absolute;
    background: transparent;
    transition: background-color $global-transition;

    width: 100%;
    left: 0;
    right: 0;
   

    @include breakpoint(large) {
        height: rem-calc(90);
        padding-left: 0;
    }

    @include breakpoint(medium down) {
        padding-left: rem-calc(25);
        padding-right: rem-calc(25);
    }

    ul {
        background: transparent;
    }

    &__content{
        max-width: rem-calc(1170);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        align-items: center;

        a:not(.button) {
            font-size: rem-calc(17);
            margin: rem-calc(0 15);
            padding: rem-calc(18 0);
            vertical-align: middle;
            transition: color 0.15s ease;
            background: transparent;
            position: relative;
            color: $white;

            &:hover {
                text-decoration: underline;
            }
        }

        li {
            .button {
                margin-left: rem-calc(10);
                margin-right: 0;
                margin-bottom: 0;
                padding-left: rem-calc(15);
                padding-right: rem-calc(15);
            }
        }

        li.active {
            a:not(.button) {
                color: rgba(255, 255, 255, 1);
            }

            .button {
                color: $black;
            }
        }
    }

    .button {
        padding: rem-calc(12 15);
        margin-left: rem-calc(10);
        margin-right: 0;
        margin-bottom: 0;

        @include breakpoint(medium) {
            padding: rem-calc(14 15);
        }
    }


    .top-bar-right {
        display: flex;
        flex: 0 0 auto;
    }

    .top-bar-left {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        .button {
            @include breakpoint(small only) {
                font-size: rem-calc(11);
            }
        }

        .menu {
            margin-left: rem-calc(80);
        }
    }
}


.top-bar-title {
    margin: 0;

    @include breakpoint(large down) {
        width: 100%;
    }
}

.top-bar-logo {
    display: block;
    font-size: rem-calc(24);
    color: $white;
    text-transform: uppercase;
    font-family: $header-font-family;
    &:hover{
        color: $white;
    }
}


.top-bar-container {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 1px solid rgba($white, 0.2);
    height: rem-calc(90)!important;
    background-color: transparent;

    @include breakpoint(small only) {
        height: $top-bar-height-mobile!important;
    }
    

    .is-stuck {
        position: fixed;
        border-color: transparent;
        .top-bar{
            background-color: $primary-color;
        }
        
    }
}

.sticky-topbar {
    background: transparent;
}

.top-bar {
    .show-for-large {
        @include breakpoint(1250px down) {
            display: none;
        }
    }

    .hide-for-large {
        @include breakpoint(1250px down) {
            display: block !important;
        }
    }
}



/*
|--------------------------------------------------------------------------
| Off canvas
|--------------------------------------------------------------------------
*/

.js-off-canvas-overlay {
    z-index: 999999;
}

.off-canvas {

    margin-bottom: rem-calc(140);

    overflow: hidden;

    &.is-transition-overlap {
        z-index: 9999999;
    }

    .menu {

        display: block;
        margin-bottom: rem-calc(20);
        margin-top: rem-calc(40);
        font-size: rem-calc(16);

        li {
            display: block;
            margin: rem-calc(10 0);
        }

        .active>a:not(.button) {
            background-color: transparent;
            color: $black;

        }

        a:not(.button) {

            color: $white;
            outline: none;
            padding: rem-calc(14 0);

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }

        .button {
            width: 100%;
        }

        .hidden-in-off-canvas {
            display: none;
        }
    }
    .submenu {
        margin-top: 0;
        margin-bottom: 0;

        li a:not(.button) {
            color: rgba($white, 0.7);
            font-size: rem-calc(15);
            padding: rem-calc(10 0);
        }
    }

    .close-button{
        width: rem-calc(40);
        height: rem-calc(40);
        border-radius: 50%;
        top: 15px;
        font-size: rem-calc(35);
        line-height: 22px;
    }

    .headline {
        color: $white;
    }

    &__content {
        padding-bottom: rem-calc(140);
        overflow: scroll;
        position: absolute;
        top: 0;
        bottom: rem-calc(150);
        left: 0;
        right: 0;
        padding: rem-calc(30 15 30 30);
    }

    &__footer {
        background-color: rgba(#8ECAD2, 0.17);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: rem-calc(30 30);
        height: rem-calc(160);

        .button {
            padding: rem-calc(15);
            width: 100%;
        }
    }

}



/*
|--------------------------------------------------------------------------
| Other
|--------------------------------------------------------------------------
*/
.hamburger {
    @include hamburger($color: rgba($white, 0.8), $color-hover: $white, $height: 16px);
    position: relative;
    top: -1px;
    width: rem-calc(26);
    border-radius: 2px;

    &:after {
        height: 2px;
    }
}