<footer class="footer">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell medium-6">
                <p class="lead">Need more information?</p>
                <h2 class="headline">Contact us</h2>

                <ul class="menu menu--info vertical">
                    <li><strong>Headquarters: </strong>
                        InoBat, Mostová 6, 811 02, Bratislava, Slovakia</li>

                    <li> <strong>R&D and production centre: </strong>
                        Voderady 429, 919 42, Voderady, Slovakia</li>

                    <li> <strong>E-mail</strong>
                        contact@inobat.eu </li>
                </ul>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-justify align-middle footer__row">
            <div class="cell shrink">
                <ul class="menu menu--social">
                    <li><a href="https://www.linkedin.com/company/inobat1" target="_blank"><img
                                src="/assets/img/icons/icon-linkedin.svg" alt=""></a></li>
                    <li><a href="https://www.youtube.com/channel/UCD3aSHh8J7FrhCyU5tY3BSQ" target="_blank"><img
                                src="/assets/img/icons/icon-youtube.svg" alt=""></a></li>
                    <li><a href="https://twitter.com/ino_bat" target="_blank"><img
                                src="/assets/img/icons/icon-twitter.svg" alt=""></a></li>
                </ul>
            </div>
            <div class="cell shrink">
                <a href="#" class="footer__logo">Inobat auto</a>
            </div>
        </div>

        <div class="grid-x grid-margin-x align-justify align-middle footer__row mt-lg ">
            <div class="cell small-12 medium-shrink">
                <a href="https://www.inobat.eu"><img src="/assets/img/inobat.svg" alt=""></a>
            </div>
            <div class="cell small-12 medium-shrink">
                <ul class="menu menu--footer">
                    <li><a href="professionals.html">Professionals</a></li>
                    <li><a href="our-batteries.html">Batteries</a></li>
                    <li><a href="facility.html">Facility</a></li>
                    <li><a href="sustainability.html">Sustainability</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="full-w">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-justify align-center footer__copyright">
            <div class="cell shrink">
                © 2021 InoBat Auto
            </div>
            <div class="cell shrink">
                Created with love by <a href="https://studioecht.com">Echt Creative Community</a>
            </div>
        </div>
    </div>
</footer>